{% extends 'seminar3/base.html' %}


{% block content %}
<h1>Обо мне</h1>
<p>Dolor magna eget est lorem ipsum dolor sit. Ultrices neque ornare aenean euismod elementum.
    Lectus arcu bibendum at varius. Purus viverra accumsan in nisl nisi. Dui id ornare arcu odio
    ut sem nulla. Tortor at risus viverra adipiscing. Adipiscing elit pellentesque habitant morbi
    tristique senectus et. Aliquam id diam maecenas ultricies mi eget mauris. Ut sem viverra aliquet
    eget sit amet tellus cras. Lectus vestibulum mattis ullamcorper velit sed. Dapibus ultrices in
    iaculis nunc sed augue.</p>
{% endblock %}
